camunda:
  client:
    mode: oidc
    tenant-ids:
    - <default>
    auth:
      oidc-type: keycloak
      issuer: http://localhost:18080/auth/realms/camunda-platform
    zeebe:
      enabled: true
      base-url: http://localhost:26500
      audience: zeebe-api
      rest-address: http://localhost:8080
    operate:
      enabled: true
      base-url: http://localhost:8081
      audience: operate-api
    tasklist:
      enabled: true
      base-url: http://localhost:8082
      audience: tasklist-api
    optimize:
      enabled: true
      base-url: http://localhost:8083
      audience: optimize-api
    identity:
      enabled: true
      base-url: http://localhost:8084
      audience: identity-api
