<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

  <logger name="io.camunda" level="debug" />
  <root level="info">
    <appender-ref ref="CONSOLE" />
  </root>

</configuration>